{{!-- views/post.handlebars --}}
{{#extends 'main'}}

{{#content 'body'}}
  <header>
    <h1>{{post.title}}</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a id="logout" href="#">Logout</a>
    </nav>
  </header>

  <article>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <small>Posted by {{post.user.username}} on {{post.created_at}}</small>
  </article>

  <section id="comments">
    <h3>Comments</h3>
    {{#each post.comments}}
      <div>
        <p>{{this.comment_text}}</p>
        <small>Commented by {{this.user.username}} on {{this.created_at}}</small>
      </div>
    {{/each}}
    <form class="comment-form">
      <textarea id="comment-text" name="comment_text" placeholder="Add a comment" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </section>

  <!-- Post-specific scripts -->
  <script src="/js/comment.js"></script>
{{/content}}
